<!DOCTYPE html>
<head>
    <title>Todo App</title>
    <%- include('head.ejs') %>
</head>

<body>
<div class="main-container">
    <h2>To-Do List</h2>
    <div class="auth">
        <form action="/" method="POST" class="auth-header">
            <input type="text" name="email" placeholder="email">
            <input type="text" name="password" placeholder="password">
            <button type="submit"><span class="btn">Submit</span></button>
        </form>
    </div>
</div>
</body>
